<%- partial('_partial/head') %>
<body>
  <div id="wrap">
    
    <%- partial('_partial/header') %>
    
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12"><%- body %></div>
        </div>
    
    </div>
    <div id="push"></div>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after_footer') %>
</body>
</html>
